

body,
h1{
    margin:0px;
}

.level1-heading{
    padding: 26px 10px;
    background-color:#555555;
    color:#fff;
    font-size:1.75rem;
    text-align:left;
}

.level1-heading-inner{
    position:relative;
    display:inline-block;
    transform:translateY(-20%);
}

.level1-heading-inner::after{
    content:'';
    position:absolute;
    bottom:-10px;
    left:50%;
    width:80px;
    right:1px;
    background-color:currentColor;
    transform: translateX(-50%);
}


.top {
    display: flex;
    align-items: center; 
    justify-content: center;
}


.card{
    display:flex;
    flex-wrap:wrap;
}

.cards--col2{
    margin-bottom:-30px;
    width:75%;
}

.cards--col2 > .cards__item{
    width:48%;
    margin-right:2%;
    margin-bottom:30px;
}

.cards--col2 > .cards__item:nth-child(2n){
    margin-right:0;
}

.cards > .cards__item{
    width:100%;
    margin-right:0;
    margin-bottom:20px;
}

.card--link{
    display:block;
    color:currentColor;
    text-decoration:none;
    transition: .25s;
    border: 2px solid;
    border-color:darkgray;
    background-color: #EEEEEE;
    box-shadow:0 3px 6px rgba(0,0,0,.16);
    width:80%;
}

.card--link .card__title,
.card--link .card__text{
    transition: .10s;
}

.card--link{
    color:royalblue;
}

.card--link:focus,
.card--link:hover{
    opacity: .75;
    color:red;
}



.card__img-wrapper{
    position:relative;
    padding-top:56.25%;
    overflow:hidden;
    
}

.card__img{
    position:absolute;
    top:50%;
    width:100%;
    transform:translateY(-50%);
}

.card__body{
    padding:50px;
}

.card__body > *:last-child{
    margin-bottom:0;
}

.card__title{
    margin-bottom: 5px;
    font-size:2rem; 
    font-weight:bold;
}


.top h2 {
    text-align: center;
    font-size: 18px;
    margin: 152px 10px 10px 10px ;
}
