<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Asset Management</title>
    <link rel="stylesheet" href="/css/borrow.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <%- include('header'); %>
    <main>
      <ul class="list">
        <% items.forEach((item) => { %>
        <li>
          <a href="/">
            <h2><%= item.itemname %> </h2>
            <span><%= item.itemsummary %> </span>
          </a>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
